<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userApplicationApplicationStyleSettings"
                  type="System.Configuration.UserApplicationApplicationStyleSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EvilBaschdi.TestUI.Properties.ApplicationApplicationStyleSettings"
               type="System.Configuration.ClientApplicationApplicationStyleSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser"
               requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TestUi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <userApplicationApplicationStyleSettings>
    <EvilBaschdi.TestUI.Properties.ApplicationApplicationStyleSettings>
      <setting name="Accent" serializeAs="String">
        <value>Cyan</value>
      </setting>
      <setting name="Theme" serializeAs="String">
        <value>BaseDark</value>
      </setting>
    </EvilBaschdi.TestUI.Properties.ApplicationApplicationStyleSettings>
  </userApplicationApplicationStyleSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.3.0" newVersion="3.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <userSettings>
    <TestUi.Properties.Settings>
      <setting name="Accent" serializeAs="String">
        <value />
      </setting>
      <setting name="Theme" serializeAs="String">
        <value />
      </setting>
    </TestUi.Properties.Settings>
  </userSettings>
</configuration>